<div
  class="app-splash-screen"
  [ngStyle]="{
    left: windowWidth,
    opacity: opacityChange,
    transition: splashTransition
  }"
  *ngIf="showSplash"
>
  <div class="app-splash-inner">
    <img src="../../assets/logo-minimal-no-background.png" class="app-logo" />
    <!-- <div class="app-label">Laserbacks Laser Tag System</div> -->
    <div class="app-loader">
      <div class="spinner-border text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</div>
