.background {
    background-color: black;
    width: 100%;
    height: 100vh;
}

.col {
    border: solid black;
    border-radius: 20px;
    height: 96vh;
    overflow: auto;
    overflow-x: hidden;
    margin-right: 2rem;
    margin-top: 1rem;
    font-weight: bolder;
    background: whitesmoke;
}
.header {
    text-align: center;
}
.timer {
    text-align: center;
    font-size: larger;
}
.timertime {
    text-align: center;
    font-size: x-large;
}

.timertimecolon {
    text-align: center;
    font-size: x-large;
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    50%{
        opacity: 0;
    }
}

.team1 {
    background: lightseagreen;
}

.team2 {
    background: lightcoral;
}

.t1score {
    background: lightseagreen;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-left: .5rem;
    margin-right: 1rem;
    padding: 10px 10px;
}

.t2score {
    background: lightcoral;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-left: 1rem;
    margin-right: .5rem;
    padding: 10px 10px;
}

.scoreheader {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.score {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.scorecolon{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    text-anchor: middle;
}

.killfeedheader{
    text-align: center;
    font-size: larger;
}

.killfeed::-webkit-scrollbar{
    display: none;
}


.killfeed {
    background: black;
    -ms-overflow-style: none;
    color: white;
    height: 63vh;
    width: 50vh;
    border-radius: 20px;
    text-align: center;
}

kill {
    text-align: center;
}

.player-card {
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    background-color: black;
    color: white;
  }

.player-image {
    border-radius: 1rem;
    width: 4rem;
    height: 4rem;
  }

.blink_me {
    animation: blinker 3s linear infinite;
}
  
@keyframes blinker {
    50% {
        opacity: .6;
    }
}