.app-splash-screen {
  background: #1976d2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: opacity 0.5s;
}

.app-label {
  margin-top: 32px;
  color: #fff;
  font-size: 2.5em;
  font-family: "impact", sans-serif;
}

.app-splash-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-logo {
  width: 600px;
  background-size: contain;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.app-loader {
  margin-top: 40px;
  max-width: 100%;
  background-position: center;
}
