<div class="background">
    <div class="container">
        <img class="podium" src="../../../assets/podium.png" />
        <div class="player_card first_place">
            <h3 style="background-color: grey; border-radius: 20px;">Bruh</h3>
            <img class="player_img" src="https://robohash.org/Bruh">
        </div>
        <div class="player_card second_place">
            <h3 style="background-color: grey; border-radius: 20px;">Trash Can</h3>
            <img class="player_img" src="https://robohash.org/TrashCan">
        </div>
        <div class="player_card third_place">
            <h3 style="background-color: grey; border-radius: 20px;">Steve</h3>
            <img class="player_img" src="https://robohash.org/Steve">
        </div>
        <button class="btn btn-success" (click)="resetGame()">Start New Game</button>
    </div>
</div>
