.background {
  background: url('../../../assets/confetti.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.header_container {
  width: 100%;
  text-align: center;
}

.container {
  height: 400px;
  width: 700px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 20%;
}

.podium {
  position: absolute;
  margin-top: 100px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.player_card {
  text-align: center;
  color: black;
  position: absolute;
  height: 200px;
  width: 250px;
}

.first_place {
  top: -80px;
  left: 230px;
}

.second_place {
  top: -10px;
  left: 0px;
}

.third_place {
  top: 30px;
  right: 0px;
}

.player_img {
  height: 150px;
  width: 150px;
}

button {
  display: block;
  right: 270px;
  position: absolute;
  bottom: -50px;
}

h2 {
  color: #fff;
  font-size: 4.5em;
  font-family: "impact", sans-serif;
}

.blink_me {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
      opacity: .0;
  }
}