<nav class="navbar text-bg-dark">
  <div class="container-fluid">
    <h2>Dev Mode Enabled</h2>
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked />
      <label (click)="setStagePlayerEntry()" class="btn btn-outline-primary" for="btnradio1">Player Entry Screen</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" />
      <label (click)="setStageGameAction()" class="btn btn-outline-primary" for="btnradio2">Game Action Screen</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" />
      <label (click)="setStageEndGame()" class="btn btn-outline-primary" for="btnradio3">End Game Screen</label>
    </div>
  </div>
</nav>
